<template [ngIf]="(repo|async) && (issues|async)">
    <div class="row header-row">
        <div class="col-xs-2 col-sm-1">
            <img [src]="(repo|async).owner.avatarUrl" class="img-rounded img-responsive">
        </div>
        <div class="col-xs-10 col-sm-6">
            <h1>
                {{(repo|async).name}}
                <small>by {{(repo|async).owner.login}}</small>
            </h1>
        </div>
        <div class="col-xs-10 col-sm-5 text-right">
            <div class="btn-group">
                <a [href]="(repo|async).htmlUrl" target="new" class="btn btn-primary">Open in GitHub</a>
                <a [href]="(repo|async).homepage" target="new" class="btn btn-primary">Homepage</a>
            </div>
        </div>
    </div>
    <p class="lead">{{(repo|async).description}}</p>
    <p class="line-with-labels">
        <span class="label label-default">{{(repo|async).language}}</span>
        <span class="label label-default"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{(repo|async).stargazersCount}}</span>
        <span class="label label-default"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> {{(repo|async).forksCount}}</span>
        <span class="label label-default">(issues|async) {{(repo|async).openIssuesCount}}</span>
    </p>
    <p class="help-block small">Updated on {{(repo|async).updatedAt | date}}</p>

    <issue-list [issues]="(issues|async)" [repoName]="(repo|async).fullName"></issue-list>
</template>
